<div class="navbar-fixed">
  <nav class="blue z-depth-1" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Boilerplate</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          {{#if user}}
            <li>
              <a href="/">Welcome {{ user.username }}</a>
            </li>
          {{/if}}
          <li>
            <a href="/sentences">Sentences</a>
          </li>
          {{#if user}}
            <li>
              <a href="/sentences/my">My sentences</a>
            </li>
            <li>
              <a href="/users/logout">Logout</a>
            </li>
          {{else}}
            <li>
              <a href="/users/register">Sign up</a>
            </li>
            <li>
              <a href="/users/login" class="btn purple">Login</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <h4 class="purple-text text-darken-4 center">Boilerplate</h4>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="/sentences">Sentences</a>
  </li>
  {{#if user}}
    <li>
      <a href="/sentences/my">My sentences</a>
    </li>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  {{else}}
    <li>
      <a href="/users/register">Sign up</a>
    </li>
    <li>
      <a href="/users/login" class="btn purple">Login</a>
    </li>
  {{/if}}
</ul>