<div class="row">
  <div class="col s12">
    <h3 class="center">Add your sentence</h3>
    <form action="/sentences/add" method="POST">
      <div>
        <label for="content">Content</label>
        <textarea type="text" name="content">{{ content }}</textarea>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
  </div>
</div>