<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
      <h3 class="center bold-font">Login</h3>
      <form action="/users/login" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" required>
        </div>
        <button type="submit" class="center waves-effect waves-light btn pink darken-1">Submit</button>
      </form>
    </div>
  </div>
</div>