<div class="row">
  <div class="col s12">
    <h3 class="center">Login</h3>
    <form action="/users/login" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
  </div>
</div>