<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
      <h3 class="center bold-font">Register</h3>
      <form action="/users/register" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" value="{{username}}" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" value="{{password}}" required>
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" value="{{password2}}" required>
        </div>
        <button type="submit" class="center waves-effect waves-light btn pink darken-1">Submit</button>
      </form>
    </div>
  </div>
</div>